# Carpetas de configuración de PyCharm
.idea/
.idea_OLD/

# Archivos temporales de Python
**/__pycache__/
*.pyc

# Carpetas de trabajo de Gandalf
.gandalf_vault/
quarantine/
logs/

# Bases de datos de estado (Generadas por el programa)
estado_base.json
conocidos.json

# Nuestra llave de desarrollo (es personal)
DESARROLLO.txt

# Información sensible
.env

# Secretos
config/credentials.json

# provisional
Enreos.py