# Carpetas de configuración de PyCharm
.idea/
.idea_OLD/

# Archivos temporales de Python
**/__pycache__/
*.pyc

# Carpetas de trabajo de Gandalf
.gandalf_vault/
quarantine/
logs/

# Bases de datos de estado (Generadas por el programa)
estado_base.json
conocidos.json

# Nuestra llave de desarrollo (es personal)
DESARROLLO.txt

# Información sensible
.env

# Secretos
config/credentials.json
config/token.pickle
config/sys_cache.bin
config/index.json

# provisional
src/Enreos.py

# Archivos de prueba y temporales
src/test_encryption.py
src/test_restore.py
archivo_prueba.txt
archivo_recuperado.txt
temp_download.encrypted
*.tmp